@tailwind base;
@tailwind components;
@tailwind utilities;
@import "nprogress/nprogress.css";

body {
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

#nprogress .bar {
  background: rgb(249 115 22);
}

#nprogress .spinner-icon {
  border-top-color: rgb(249 115 22);
  border-left-color: rgb(249 115 22);
}
